

@media screen and (max-width:1450px) {

    .ToolBox{
        position: relative;
        margin-top: 10%;
        margin-left: 10%;
    }

    .RowDesign {
        padding-top: 3%;
        margin-right: 3%;
        overflow: auto;
    }
    
    
}

@media screen and (max-width:1500px) {

    .ToolBox{
        position: relative;
        margin-top: 7%;
        margin-left: 10%;
    }

    .RowDesign {
        padding-top: 5%;
        margin-right: 7%;
        height: 100;
    }
    
    
}